# Created via pipreqs
albumentations==1.3.0
accelerate==0.17.1
pytorch-accelerated~=0.1.44
attr==0.3.2
attrs==22.2.0
ConfigParser==5.3.0
contextlib2==21.6.0
cryptography==39.0.2
deepspeed==0.8.3
docutils==0.19
HTMLParser==0.0.2
importlib_metadata==6.1.0
Jinja2==3.1.2
jnius==1.1.0
keyring==23.13.1
lockfile==0.12.2
matplotlib==3.7.1
optuna~=3.1.1
mock==5.0.1
numpy==1.23.5
opencv_python==4.7.0.72
optuna==3.1.1
Pillow==9.5.0
protobuf==4.22.1
pyOpenSSL==23.1.1
pytorch_lightning==2.0.1
railroad==0.5.0
scikit_learn==1.2.2
Sphinx==6.1.3
tensorboard~=2.12.1
torch==2.0.0
torchmetrics==0.11.4
torchvision==0.15.1
tornado==6.2
urllib3_secure_extra==0.1.0
torchinfo
